* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(230 236 240);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  color: black;
}

h3 {
  font-size: 30px;
  margin: 0;
}


p, a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  height: 200px;
} 

.header-logo {
  background-color: black;
}

.header-logo__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header-logo__image {
  opacity: 0.7;
  position: absolute;
}

.header-logo__image img {
  width: 100%;
}

.header-logo__title {
  padding-top: 10px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.header-menu {
  width: 100%;
  background-color: #505d68;
}

.header-menu__container,
.block-content__container,
.latest-news__container,
.footer__container,
.content__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header-navbar__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.header-navbar__item {
  margin: 0 10px;
  border-top: 2px solid #bbb;
  border-bottom: 2px solid #bbb;

}

.header-navbar__link {
  padding: 10px;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.5s;
}

.header-navbar__link:hover {
  background-color: rgb(51, 142, 247);
} 

.block-content {
  padding: 50px;
}

.block-content__image {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(104, 37, 37);
  border: 20px solid white;
  border-radius: 10px;
  height: 500px;

}

.block-content__image img {
  width: 100%;
}

.custom-content__item {
  padding-top: 60px;
  text-align: center;
}

.custom-content__label {
  text-transform: uppercase;
  font-size: 16px;
}

.custom-content__label span {
  padding: 5px;
  background-color: rgb(236, 199, 157);
}

.latest-news {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: rgb(61, 58, 58);
}

.latest-news__container h2 {
  position: relative;
  display: inline-flex;
  color: #fff;
  z-index: 1;
  justify-content: center;  
  width: 100%;
}

.latest-news__container h2 span {
  background-color: #3d3a3a;
  padding: 0 10px;
}

  

.latest-news__container h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: .125rem;
  background: #ffffff;
  z-index: -1;
  top: calc(50% - .1rem);
}

.latest-news__grid {
  display: grid;
  gap: 20px;
  grid-template-areas: "p1 p2" "p3 p4" "p5 p6" "p7 p8";
}

.latest-news__link {
  display: grid;
  overflow: hidden;
  height: 100%;
  grid-template-rows: 300px 1fr;
  background-color:rgb(247, 244, 244);
  border-radius: 10px;
}

.latest-news__image {
  display: flex;
  overflow: hidden;
  padding: 10px;
  align-content: center;
  justify-content: center;
}

.latest-news__image img {
  width: 100%;
  object-fit: cover;
}

.latest-news__caption {
  display: grid;
  padding: 20px;
  text-align: center;
  color: #3d3d3d;
  
}

.footer {
  background-color: black;
  padding: 50px 20px 50px;
  text-align: center;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer__logo {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: rgb(51, 142, 247);
}

.footer__social {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
}

.footer__social a {
  display: block;
  color: #ffffff;
  transition: color 0.5s;
}

.footer__social a:hover {
  color: rgb(51, 142, 247);
}

.footer__social .fab {
  font-size: 35px;
}

.footer__copy {
  color: #ffffff;
}

/* geep.html */

/* .content {
  padding-top: 60px;
  padding-bottom: 50px;
}

.content__container {
  background-color: #fff;
  padding: 5px 40px 40px 40px;
}

.content__image {
  display: flex;
  padding: 20px 100px;
  overflow: hidden;
  justify-content: center;
  align-content: center;
}

.content__image img {
  width: 100%;
}

.content__list {
  padding: 10px 0;
  font-size: 30px;
  font-weight: 400;
}

.content__list ul {
  list-style-type: disc;
}

.content__list li {
  padding-bottom: 20px;
}

.content__list li:last-child {
  padding-bottom: 0;
}

.content__text {
  text-align: justify;
}

.content__text p {
  font-size: 25px;
} */
